#sel1 {
    margin-left: 5px;
    margin-right: 8px;
}
#search {
    margin-left: 8px;
    margin-right: 10px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#backImage {
    width:30px;
    height: 30px;
    float: right;
    margin-left: 845px;
    cursor: pointer;
}





